extend ../layout/layout.pug
block content
	.main-content
		.section__content.section__content--p30
			.container-fluid
				.col-lg-12
					// TOP CAMPAIGN
					.top-campaign
						h3.title-10.m-b-30 Chi ti&#x1EBF;t s&#x1EA3;n ph&#x1EA9;m
						.table-responsive
							table.table.table-top-campaign
								tbody
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') T&ecirc;n s&aacute;ch 
										td(style='text-align: left; font-size: 18px;')=datas.name
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') &#x1EA2;nh b&igrave;a 
										td(style='text-align: left; font-size: 18px;')
											img(src='/upload/images/'+datas.photo,width='70px;')
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') Danh m&#x1EE5;c 
										td(style='text-align: left; font-size: 18px;')=datas.categories.name
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') Nh&agrave; cung c&#x1EA5;p 
										td(style='text-align: left; font-size: 18px;')=datas.publishingcompany
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') N&abreve;m xu&#x1EA5;t b&#x1EA3;n 
										td(style='text-align: left; font-size: 18px;')=datas.publishingyear
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') T&aacute;c gi&#x1EA3;i 
										td(style='text-align: left; font-size: 18px;')=datas.author
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') S&#x1ED1; l&#x1B0;&#x1EE3;ng
										td(style='text-align: left; font-size: 18px;')=datas.amount
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') S&#x1ED1; trang 
										td(style='text-align: left; font-size: 18px;')=datas.numberofpages
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') Gi&aacute; ti&#x1EC1;n 
										td(style='text-align: left; font-size: 18px;')=datas.price
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') Gi&#x1EA3;m gi&aacute; 
										td(style='text-align: left; font-size: 18px;')=datas.discount +"%"
									tr
										td(style='width: 500px; padding-left: 100px;font-size: 18px;') Chi ti&#x1EBF;t s&aacute;ch 
										td(style='text-align: left; font-size: 18px;')=datas.bookdetails