extend ../layout/layout.pug
block content
	// MAIN CONTENT
	.main-content
		.section__content.section__content--p30
			.container-fluid
				.row
					.col-lg-12
						.card
							.card-header
								strong Th&ecirc;m s&#x1EA3;n ph&#x1EA9;m
							.card-body.card-block
								form.form-horizontal(action='?_method=PUT', method='post', enctype='multipart/form-data')
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') T&ecirc;n s&aacute;ch
										.col-12.col-md-9
											input#text-input.form-control(type='text', name='book', placeholder='',value=datas.name ? datas.name : '')
											small.form-text.text-muted Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='select') Danh m&#x1EE5;c s&aacute;ch
										.col-12.col-md-9
											select#select.form-control(name='category_id')
												option(value=datas.categories._id,checked)=datas.categories.name
											small.form-text.text-muted Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') Nh&agrave; cung c&#x1EA5;p
										.col-12.col-md-9
											input#text-input.form-control(type='text', name='supplier', placeholder='',value=datas.supplier ? datas.supplier: '')
											small.form-text.text-muted Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') Nh&agrave; xu&#x1EA5;t b&#x1EA3;n
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='publishingcompany', placeholder='',value=datas.publishingcompany ? datas.publishingcompany:'')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') N&abreve;m xu&#x1EA5;t b&#x1EA3;n
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='publishingyear', placeholder='',value=datas.publishingyear ? datas.publishingyear:'')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') T&aacute;c gi&#x1EA3;
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='author', placeholder='',value=datas.author ? datas.author : '')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') S&#x1ED1; trang
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='numberofpages', placeholder='',value=datas.numberofpages ? datas.numberofpages : '')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') S&#x1ED1; lượng
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='amount', placeholder='',value=datas.amount ? datas.amount:'')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') Gi&aacute; ti&#x1EC1;n
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='price', placeholder='',value=datas.price ? datas.price : '')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='text-input') Gi&#x1EA3;m gi&aacute;
										.col-12.col-md-9
											input#password-input.form-control(type='text', name='discount', placeholder='', value=datas.discount ? datas.discount : '')
											small.help-block.form-text Tr&#x1EE3; gi&uacute;p
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='textarea-input') Chi ti&#x1EBF;t s&aacute;ch
										.col-12.col-md-9
											textarea#textarea-input.form-control(name='bookdetails', rows='9', placeholder='')=(value=datas.bookdetails ? datas.bookdetails : '')
									.row.form-group
										.col.col-md-3
											label.form-control-label(for='file-input') Th&ecirc;m h&igrave;nh &#x1EA3;nh
										.col-12.col-md-9
											input#file-input.form-control-file(type='file', name='photo')
									.card-footer
										button.btn.btn-primary.btn-sm(type='submit')
											i.fa.fa-dot-circle-o
											|  L&#x1B0;u
										button.btn.btn-danger.btn-sm(type='reset')
											i.fa.fa-ban
											|  L&agrave;m m&#x1EDB;i


