extend ./layout/layout.pug
block content
	.slider-area
		.slider-active-3.dot-style-2.img-max-width
			.single-slider.slider-height-4.bg-img.single-slider-pt-3(data-thumb='/upload/images/bia1.png', style='background-image:url(/upload/images/bia1.jpg)')
				.container
					.row
						.col-12
							.slider-content-3.slider-animated-1
								h1.animated
									| Chào mừng 
									span Đến với 
									br
									span Dking
									|  Tri thức
								p.animated Mua sắm tri thức không bao giờ nỗ
								.btn-style-3.btn-hover
									a.btn3-ptb-3.btn3-bg-green.animated(href='/shop')
										| Chọn sách
										i.icofont-long-arrow-right
	.pre-order-area.pt-160
		.container
			.row.align-items-center
				.col-lg-6.col-md-6
					.pre-order-content.pre-order-green
						h3
							a(href='#') Pre Order is On
						h4
							span Author
							|  Bin Sam
						p
							| Authoritatively matrix functionalized leadership skills after long-term high-impact channels. Monotonectally transition enterprise-wide best practices.
						span $ 1212
						.btn-style-3.btn-hover
							a.btn3-ptb-2.btn3-bg-green(href='#') Browse Book
				.col-lg-6.col-md-6
					.pre-order-img-2
						a(href='#')
							img(src='/images/product/product-on-sale-2.png', alt='')
	.product-area.pt-135.pb-100
		.container
			.product-tab-list-3.product-tab-list-3-green.nav.mb-60
				a.active(href='#product-1', data-toggle='tab')
					| Sách giảm giá
				a(href='#product-3', data-toggle='tab')
					| Sách mới
			.tab-content.jump
				#product-1.tab-pane.active
					.row
						each product in hotdeal
							.col-lg-3.col-md-6.col-sm-6.col-12
								.product-wrap.mb-55
									.product-img.product-img-zoom.mb-25
										a(href='/book/'+product._id)
											img(src='/upload/images/'+product.photo, alt='')
									.product-content
										h4
											a(href='/book/'+product._id)=product.name
										.product-price
											if product.discount > 0
												span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
												span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
											else
												span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
									.product-action-position-1.text-center
										.product-content
											h4
												a(href='/book/'+product._id)=product.name
											.product-price
												if product.discount > 0
													span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
													span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
												else
													span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
										.product-action-wrap
											.product-action-cart
												if product.amount > 0
													form(method='post', action='/add/'+product._id)
														button(title='Add to Cart', style="background-color: #0A1039;color: #fff;padding: 7px 32px 7px;") Thêm vào giỏ
												else
													span(style="color: red;") Hết hàng
				#product-3.tab-pane
					.row
						each product in productnew
							.col-lg-3.col-md-6.col-sm-6.col-12
								.product-wrap.mb-55
									.product-img.product-img-zoom.mb-25
										a(href='/book/'+product._id)
											img(src='upload/images/'+product.photo, alt='')
									.product-content
										h4
											a(href='/book/'+product._id)=product.name
										.product-price
											if product.discount > 0
												span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
												span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
											else
												span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
									.product-action-position-1.text-center
										.product-content
											h4
												a(href='/book/'+product._id)=product.name
											.product-price
												if product.discount > 0
													span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
													span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
												else
													span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
										.product-action-wrap
											.product-action-cart
												if product.amount > 0
													form(method='post', action='/add/'+product._id)
														button(title='Add to Cart', style="background-color: #0A1039;color: #fff;padding: 7px 32px 7px;") Thêm vào giỏ
												else
													span(style="color: red;") Hết hàng
	.service-area.pb-110
		.container
			.row
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						h3 Niềm hạnh phúc
						p Là món quà vô giá cho bạn
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						h3 Miễn phí vận chuyển
						p Miễn phí vận chuyển trên toàn quốc cho đơn hàng trên 200,000đ
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						h3 Thương hiệu được kiểm định 
						p Thương hiệu Dking được kiểm duyệt hàng năm
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						h3 Vận chuyển nhanh 24/7
						p Hình thức vận chuyển nhanh 24/7 toàn quốc 
	.banner-area
		.container
			.row
				.col-lg-6.col-md-6
					.banner-wrap.mb-30
						.banner-img
							a(href='')
								img(src='/upload/images/banner-9.jpg', alt='')
						.banner-content-wrap
							.banner-content-6
								h2 Giảm giá khi mua tại của hàng
								h4 lên đến 50%
				.col-lg-6.col-md-6
					.banner-wrap.mb-30
						.banner-img
							a(href='')
								img(src='/upload/images/banner-10.jpg', alt='')
						.banner-content-wrap
							.banner-content-6
								h2 Mua một tặng một
								h4 khi mua sách có giá trị trên 200,000đ
	.blog-area.pb-125
		.container
			.section-title.st-peragraph-width.st-peragraph-auto.text-center.mb-75
				h2 Bản phát hành trước
				p
					| Chủ động thúc đẩy giá trị cộng tác và chia sẻ tư duy đáng tin cậy. Thỏa thuận khác biệt với người dùng cấp cao thông qua các mô hình âm thanh tiết kiệm. Năng lượng tràn trề.
			.row
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/upload/images/blog-4.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Bật điện tử chuyên nghiệp dữ liệu trả thưởng cao trước khi có cơ hội hấp dẫn.
							span.mrg-top-inc vào ngày 24 tháng 4 năm 2019
							p Quản trị liền mạch công nghệ lấy khách hàng làm trung tâm mà không cần tối ưu.
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/upload/images/blog-5.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Các nhà thiết kế hoàn toàn phù hợp với bạn trên Envato Studio
							span.mrg-top-inc vào ngày 24 tháng 4 năm 2019
							p Chế tạo một cách bắt buộc băng thông tối ưu cho các sản phẩm được phân phối liên hợp.
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/upload/images/blog-6.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Tận dụng một cách rõ ràng các công nghệ dựa trên khách hàng hiện có.
							span.mrg-top-inc vào ngày 24 tháng 4 năm 2019
							p Chuyển đổi dần các thị trường đã được kiểm tra đầy đủ sau các nguồn cộng hóa trị.

	// Modal
	#exampleModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') x
				.modal-body
					.row
						.col-lg-5.col-md-5.col-12.col-sm-6
							.quickview-img
								img(src='/images/product/product-3.jpg', alt='')
						.col-lg-7.col-md-7.col-12.col-sm-6
							.product-details-content.quickview-content
								h2 Electronic Shop
								.product-ratting-review-wrap
									.product-ratting-digit-wrap
										.product-ratting
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-star-empty
										.product-digit
											span 4.0
									.product-review-order
										span 62 Reviews
										span 242 orders
								p
									| Seamlessly predominate enterprise metrics without performance based process improvements.
								.pro-details-price
									span US $75.72
									span.old-price US $95.72
								.pro-details-color-wrap
									span Color:
									.pro-details-color-content
										ul
											li
												a.white(href='#') Black
											li
												a.azalea(href='#') Blue
											li
												a.dolly(href='#') Green
											li
												a.peach-orange(href='#') Orange
											li
												a.mona-lisa.active(href='#') Pink
											li
												a.cupid(href='#') gray
								.pro-details-size
									span Size:
									.pro-details-size-content
										ul
											li
												a(href='#') XS
											li
												a(href='#') S
											li
												a(href='#') M
											li
												a(href='#') L
											li
												a(href='#') XL
											li
												a(href='#') XXL
								.pro-details-quality
									span Quantity:
									.cart-plus-minus
										input.cart-plus-minus-box(type='text', name='qtybutton', value='1')
								.product-details-meta
									ul
										li
											span Model:
											a(href='#') Odsy-1000
										li
											span Ship To
											a(href='#') 2834 Laurel Lane
											| , 
											a(href='#') Mentone
											|  , 
											a(href='#') Texas
								.pro-details-action-wrap
									.pro-details-buy-now
										a(href='#') Buy Now
									.pro-details-action
										a(title='Add to Cart', href='#')
											i.icon-basket
										a(title='Add to Wishlist', href='#')
											i.icon-heart
										a.social(title='Social', href='#')
											i.icon-share
										.product-dec-social
											a.facebook(title='Facebook', href='#')
												i.icon-social-facebook-square
											a.twitter(title='Twitter', href='#')
												i.icon-social-twitter
											a.instagram(title='Instagram', href='#')
												i.icon-social-instagram
											a.pinterest(title='Pinterest', href='#')
												i.icon-social-pinterest

