extend ./layout/layout.pug
block content
	.sidebar-cart-active
		.sidebar-cart-all
			a.cart-close(href='#')
				i.icofont-close-line
			.cart-content
				h3 Shopping Cart
				ul
					li.single-product-cart
						.cart-img
							a(href='#')
								img(src='/images/cart/cart-1.jpg', alt='')
						.cart-title
							h4
								a(href='#') Awesome Mobile
							span  1 &times; $49.00&#x9;
						.cart-delete
							a(href='#') &times;
					li.single-product-cart
						.cart-img
							a(href='#')
								img(src='/images/cart/cart-2.jpg', alt='')
						.cart-title
							h4
								a(href='#') Smart Watch
							span  1 &times; $49.00&#x9;
						.cart-delete
							a(href='#') &times;
				.cart-total
					h4
						| Subtotal: 
						span $170.00
				.cart-checkout-btn
					a.btn-hover.cart-btn-style(href='cart.html') view cart
					a.no-mrg.btn-hover.cart-btn-style(href='checkout.html') checkout
	.slider-area
		.slider-active-3.dot-style-2.img-max-width
			.single-slider.slider-height-4.bg-img.single-slider-pt-3(data-thumb='/images/slider/book-slider-thumb-1.png', style='background-image:url(/images/slider/book-slider-1.jpg);')
				.container
					.row
						.col-12
							.slider-content-3.slider-animated-1
								h1.animated
									| Start 
									span Learning
									br
									span Build
									|  Career
								p.animated Interactively pursue optimal &quot;outside the box&quot; thinking and timely communities. 
								.btn-style-3.btn-hover
									a.btn3-ptb-3.btn3-bg-green.animated(href='shop.html')
										| Browse Book 
										i.icofont-long-arrow-right
	.categoriesa-area.pt-255
		.container
			.row
				.col-xl-10.col-lg-12.ml-auto.mr-auto
					.categoriesa-top.bg-gray-6
						.categories-search-wrap
							.search-wrap-4
								form
									.search-style-4
										input.input-text(value='', placeholder='Type to search (Ex: Phone, Laptop)', type='search')
										button
											i.icofont-search-1
						.categories-brand-tab-list-2.nav
							
			.tab-content.jump.pt-95
				
					.categories-btn.btn-hover.text-center
						a(href='shop.html') Browse All Categories
	.pre-order-area.pt-160
		.container
			.row.align-items-center
				.col-lg-6.col-md-6
					.pre-order-content.pre-order-green
						h3
							a(href='#') Pre Order is On
						h4
							span Author
							|  Bin Sam
						p
							| Authoritatively matrix functionalized leadership skills after long-term high-impact channels. Monotonectally transition enterprise-wide best practices.
						span $ 1212
						.btn-style-3.btn-hover
							a.btn3-ptb-2.btn3-bg-green(href='#') Browse Book
				.col-lg-6.col-md-6
					.pre-order-img-2
						a(href='#')
							img(src='/images/product/product-on-sale-2.png', alt='')
	.product-area.pt-135.pb-100
		.container
			.product-tab-list-3.product-tab-list-3-green.nav.mb-60
				a.active(href='#product-1', data-toggle='tab')
					| Sách giảm giá
				a(href='#product-2', data-toggle='tab')
					| Sách
				a(href='#product-3', data-toggle='tab')
					| Sách mới
			.tab-content.jump
				#product-1.tab-pane.active
					.row
						each product in hotdeal
							.col-lg-3.col-md-6.col-sm-6.col-12
								.product-wrap.mb-55
									.product-img.product-img-zoom.mb-25
										a(href='')
											img(src='/upload/images/'+product.photo, alt='')
									.product-content
										h4
											a(href='')=product.name
										.product-price
											if product.discount > 0
												span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
												span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
											else
												span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
									.product-action-position-1.text-center
										.product-content
											h4
												a(href='')=product.name
											.product-price
												if product.discount > 0
													span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
													span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
												else
													span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
										.product-action-wrap
											.product-action-cart
												button(title='Add to Cart') Thêm vào giỏ 
				#product-2.tab-pane
					.row
						.col-lg-3.col-md-6.col-sm-6.col-12
							.product-wrap.mb-55
								.product-img.product-img-zoom.mb-25
									a(href='product-details.html')
										img(src='/images/product/product-22.jpg', alt='')
								.product-content
									h4
										a(href='product-details.html') Product Title
									.product-price
										span $ 200
								.product-action-position-1.text-center
									.product-content
										h4
											a(href='product-details.html') Product Title
										.product-price
											span $ 200
									.product-action-wrap
										.product-action-cart
											button(title='Add to Cart') Add to cart
				#product-3.tab-pane
					.row
						each product in productnew
							.col-lg-3.col-md-6.col-sm-6.col-12
								.product-wrap.mb-55
									.product-img.product-img-zoom.mb-25
										a(href='product-details.html')
											img(src='upload/images/'+product.photo, alt='')
									.product-content
										h4
											a(href='product-details.html')=product.name
										.product-price
											if product.discount > 0
												span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
												span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
											else
												span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
									.product-action-position-1.text-center
										.product-content
											h4
												a(href='product-details.html')=product.name
											.product-price
												if product.discount > 0
													span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
													span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
												else
													span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
										.product-action-wrap
											.product-action-cart
												button(title='Add to Cart') Thêm vào giỏ
	.service-area.pb-110
		.container
			.row
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						img.inject-me(src='/images/icon-img/headphones.svg', alt='')
						h3 Happiness 
						p Free Shipping for any product and it&apos;s world wide
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						img.inject-me(src='/images/icon-img/shipping-car.svg', alt='')
						h3 Free Shipping 
						p Free Shipping for any product and it&apos;s world wide
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						img.inject-me(src='/images/icon-img/trusty.svg', alt='')
						h3 All Trusty Brand 
						p Free Shipping for any product and it&apos;s world wide
				.col-lg-3.col-md-6.col-sm-6.col-12
					.service-wrap.mb-30
						img.inject-me(src='/images/icon-img/support-expart.svg', alt='')
						h3 24/7 Support Expert 
						p Free Shipping for any product and it&apos;s world wide
	.banner-area
		.container
			.row
				.col-lg-6.col-md-6
					.banner-wrap.mb-30
						.banner-img
							a(href='product-details.html')
								img(src='/images/banner/banner-9.jpg', alt='')
						.banner-content-wrap
							.banner-content-6
								h2 KIDS BOOK
								h4 50% off
				.col-lg-6.col-md-6
					.banner-wrap.mb-30
						.banner-img
							a(href='product-details.html')
								img(src='/images/banner/banner-10.jpg', alt='')
						.banner-content-wrap
							.banner-content-6
								h2 ROMANTIC BOOK
								h4 50% off
	.blog-area.pb-125
		.container
			.section-title.st-peragraph-width.st-peragraph-auto.text-center.mb-75
				h2 Pres Release 
				p
					| Proactively drive collaborative value and reliable mindshare. Distinctively negotiate superior users via economically sound models. Energistically underwhelm.
			.row
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/images/blog/blog-4.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Professionally e-enable high payoff data before sticky opportunities. 
							span.mrg-top-inc on April 24, 2019
							p Seamlessly administrate client centered technology without optimal.
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/images/blog/blog-5.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Designers matched perfectly to you on Envato Studio
							span.mrg-top-inc on April 24, 2019
							p Compellingly fabricate optimal bandwidth for inter-mandated deliverables. 
				.col-lg-4.col-md-6.col-sm-6
					.blog-wrap.mb-30
						.blog-img.mb-35
							a(href='blog-details.html')
								img(src='/images/blog/blog-6.jpg', alt='')
						.blog-content
							h3
								a(href='blog-details.html') Phos fluorescently leverage existing client-based technologies.
							span.mrg-top-inc on April 24, 2019
							p Progressively transform fully tested markets after covalent sources.

	// Modal
	#exampleModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') x
				.modal-body
					.row
						.col-lg-5.col-md-5.col-12.col-sm-6
							.quickview-img
								img(src='/images/product/product-3.jpg', alt='')
						.col-lg-7.col-md-7.col-12.col-sm-6
							.product-details-content.quickview-content
								h2 Electronic Shop
								.product-ratting-review-wrap
									.product-ratting-digit-wrap
										.product-ratting
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-star-empty
										.product-digit
											span 4.0
									.product-review-order
										span 62 Reviews
										span 242 orders
								p
									| Seamlessly predominate enterprise metrics without performance based process improvements.
								.pro-details-price
									span US $75.72
									span.old-price US $95.72
								.pro-details-color-wrap
									span Color:
									.pro-details-color-content
										ul
											li
												a.white(href='#') Black
											li
												a.azalea(href='#') Blue
											li
												a.dolly(href='#') Green
											li
												a.peach-orange(href='#') Orange
											li
												a.mona-lisa.active(href='#') Pink
											li
												a.cupid(href='#') gray
								.pro-details-size
									span Size:
									.pro-details-size-content
										ul
											li
												a(href='#') XS
											li
												a(href='#') S
											li
												a(href='#') M
											li
												a(href='#') L
											li
												a(href='#') XL
											li
												a(href='#') XXL
								.pro-details-quality
									span Quantity:
									.cart-plus-minus
										input.cart-plus-minus-box(type='text', name='qtybutton', value='1')
								.product-details-meta
									ul
										li
											span Model:
											a(href='#') Odsy-1000
										li
											span Ship To
											a(href='#') 2834 Laurel Lane
											| , 
											a(href='#') Mentone
											|  , 
											a(href='#') Texas
								.pro-details-action-wrap
									.pro-details-buy-now
										a(href='#') Buy Now
									.pro-details-action
										a(title='Add to Cart', href='#')
											i.icon-basket
										a(title='Add to Wishlist', href='#')
											i.icon-heart
										a.social(title='Social', href='#')
											i.icon-share
										.product-dec-social
											a.facebook(title='Facebook', href='#')
												i.icon-social-facebook-square
											a.twitter(title='Twitter', href='#')
												i.icon-social-twitter
											a.instagram(title='Instagram', href='#')
												i.icon-social-instagram
											a.pinterest(title='Pinterest', href='#')
												i.icon-social-pinterest

