extend ./layout/layout.pug
block content
  .breadcrumb-area.breadcrumb-mt.breadcrumb-ptb-2
    .container
      .breadcrumb-content
        h2 Tải khoản cá nhân
        ul
          li
            a(href='/') Trang Chủ
          li
            span  &gt; 
          li
            a(href='/shop') Danh mục
          li
            span  &gt; 
          li.active  Tài khoản 
  // my account wrapper start
  .my-account-wrapper.bg-gray.pt-160.pb-160
    .container
      .row
        .col-lg-12
          // My Account Page Start
          .myaccount-page-wrapper
            // My Account Tab Menu Start
            .row
              .col-lg-3.col-md-4
                .myaccount-tab-menu.nav(role='tablist')
                  a.active(href='#dashboad', data-toggle='tab') Tài khoản
                  a(href='#orders', data-toggle='tab')  Đặt Hàng
                  a(href='#address-edit', data-toggle='tab') Thông tin
                  a(href='/logout') Logout
              // My Account Tab Menu End
              // My Account Tab Content Start
              .col-lg-9.col-md-8
                #myaccountContent.tab-content
                  // Single Tab Content Start
                  #dashboad.tab-pane.fade.show.active(role='tabpanel')
                    .myaccount-content
                      h3="Xin chào : "+datas.name
                      .welcome
                        p
                          | Hello, 
                          strong=datas.name
                      p.mb-0
                        | Từ trang tổng quan tài khoản của bạn. bạn có thể dễ dàng kiểm tra và xem các đơn đặt hàng gần đây của bạn, quản lý địa chỉ giao hàng và thanh toán cũng như chỉnh sửa mật khẩu và chi tiết tài khoản của bạn.
                  // Single Tab Content End
                  // Single Tab Content Start
                  #orders.tab-pane.fade(role='tabpanel')
                    .myaccount-content
                      h3 Đơn hàng
                      .myaccount-table.table-responsive.text-center
                        table.table.table-bordered
                          thead.thead-light
                            tr
                              th Tên người nhận
                              th Số điện thoại
                              th Ngày đặt
                              th Trạng thái
                              th Tổng tiền
                              th Xác nhận
                          tbody
                            if orders
                              each i in orders
                                tr
                                  td=i.name
                                  td=i.phone
                                  td=i.createdAt.toDateString()
                                  if (i.status == 0)
                                    td Chờ xác nhận chuyển hàng
                                  else if (i.status == 1)
                                    td Xác nhận đã nhận hàng
                                  else 
                                    td Đơn hàng đã hoàn tất
                                  td=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((i.totalPrice).toFixed()) + ' đ'
                                  if (i.status == 1)
                                    td
                                      form(action='/confirm/'+i._id,method='post',style='padding-top:20px;')
                                        button.btn.btn-primary.btn-sm(type='submit', value='',) Xác nhận
                                  else if (i.status == 2)
                                    td
                            else 
                              tr
                                td
                                td
                                td
                                td
                                td
                  #address-edit.tab-pane.fade(role='tabpanel')
                    .myaccount-content
                      h3="Thông tin của : "+datas.name 
                      address
                        p="Email : "+datas.email
                        p="Quyền hạn : "+datas.role
                        p="Ngày đăng ký : "+datas.createdAt.toDateString()