extend ./layout/layout.pug
block content
	.product-details-area.slider-mt-7.pt-120.pb-95
		.container
			.product-details-top-content
				.product-details-content
					h2=datas.name
					p.pro-dec-paragraph-2="Tác giả : "+datas.author
				.product-details-content
					.product-ratting-review-wrap.product-ratting-mrg-none
						
		.section-padding-7
			.container-fluid
				.row
					.col-lg-7.col-md-6
						.pro-details-6-img.pro-details-img-zoom
							img(src='/upload/images/'+datas.photo, alt='', style='width:50%; margin-left: 370px')
					.col-lg-5.col-md-6
						.product-details-content.product-details-content-6
							.pro-details-price.pro-details-price-4
								if datas.discount > 0
									span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((datas.price)-(datas.price*datas.discount)/100).toFixed()) + ' đ'
									span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((datas.price).toFixed()) + ' đ'
								else
									span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((datas.price).toFixed()) + ' đ'
							.pro-details-color-wrap
								
							.pro-details-size
								
							form(action='', method='POST')
								.pro-details-quality
									span Số lượng:
									.buttons_added
										input.minus.is-form(type='button', value='-', style="background-color: black;color: white; width: 30px;")
										input.input-qty(aria-label='quantity', max=datas.amount, min='1', name='add_product', type='number', value='1', style="width: 50px;")
										input.plus.is-form(type='button', value='+',style="background-color: black;color: white;width: 30px;")
								.product-details-meta
									ul
										li
											span Có sẵn : 
											a(href='')=datas.amount + ""
									if datas.amount > 0
										.pro-details-action-wrap
											.pro-details-buy-now
												button(style="background-color: black;color: white; height: 70px; width: 180px;") Thêm vào giỏ hàng
											.pro-details-action
									else
										.pro-details-action-wrap
											.pro-details-buy-now
												span(style="color: red;") Hết hàng
											.pro-details-action
									
										
	.description-review-wrapper.pb-155
		.container
			.row
				.col-lg-12
					.dec-review-topbar.nav.mb-65
						a.active(data-toggle='tab', href='#des-details2') Thông số 
						a(data-toggle='tab', href='#des-details1') Chi tiết sách
					.tab-content.dec-review-bottom
						#des-details1.tab-pane
							.description-wrap
								p=datas.bookdetails
						#des-details2.tab-pane.active
							.specification-wrap.table-responsive
								table
									tbody
										tr
											td.width1 Tên sách
											td=datas.name
										tr
											td Nhà cung cấp
											td=datas.supplier
										tr
											td.width1 Nhà xuất bản
											td=datas.publishingcompany
										tr
											td.width1 Năm xuất bản
											td=datas.publishingyear
										tr
											td.width1 Tác giả
											td=datas.author
										tr
											td.width1 Số trang
											td=datas.numberofpages
										tr
											td.width1 Giảm giá
											td=datas.discount+" %"
	.product-area.pb-155
		.container
			.section-title-8.mb-65
				h2 You May Like Also
			.product-slider-active-4
				.product-wrap-plr-1
					.product-wrap
						.product-img.product-img-zoom.mb-25
							a(href='product-details.html')
								img(src='/product/product-151.jpg', alt='')
						.product-content
							h4
								a(href='product-details.html') Product Title
							.product-price
								span $ 124
								span.old-price $ 130
						.product-action-position-1.text-center
							.product-content
								h4
									a(href='product-details.html') Product Title
								.product-price
									span $ 124
									span.old-price $ 130
							.product-action-wrap
								.product-action-cart
									button(title='Add to Cart') Add to cart
								button(data-toggle='modal', data-target='#exampleModal')
									i.icon-zoom
								button(title='Add to Compare')
									i.icon-compare
								button(title='Add to Wishlist')
									i.icon-heart-empty
				.product-wrap-plr-1
					.product-wrap
						.product-img.product-img-zoom.mb-25
							a(href='product-details.html')
								img(src='/product/product-152.jpg', alt='')
						.product-content
							h4
								a(href='product-details.html') Product Title
							.product-price
								span $ 124
								span.old-price $ 130
						.product-action-position-1.text-center
							.product-content
								h4
									a(href='product-details.html') Product Title
								.product-price
									span $ 124
									span.old-price $ 130
							.product-action-wrap
								.product-action-cart
									button(title='Add to Cart') Add to cart
								button(data-toggle='modal', data-target='#exampleModal')
									i.icon-zoom
								button(title='Add to Compare')
									i.icon-compare
								button(title='Add to Wishlist')
									i.icon-heart-empty
				.product-wrap-plr-1
					.product-wrap
						.product-img.product-img-zoom.mb-25
							a(href='product-details.html')
								img(src='/product/product-153.jpg', alt='')
						.product-content
							h4
								a(href='product-details.html') Product Title
							.product-price
								span $ 124
								span.old-price $ 130
						.product-action-position-1.text-center
							.product-content
								h4
									a(href='product-details.html') Product Title
								.product-price
									span $ 124
									span.old-price $ 130
							.product-action-wrap
								.product-action-cart
									button(title='Add to Cart') Add to cart
								button(data-toggle='modal', data-target='#exampleModal')
									i.icon-zoom
								button(title='Add to Compare')
									i.icon-compare
								button(title='Add to Wishlist')
									i.icon-heart-empty
				.product-wrap-plr-1
					.product-wrap
						.product-img.product-img-zoom.mb-25
							a(href='product-details.html')
								img(src='/product/product-154.jpg', alt='')
						.product-content
							h4
								a(href='product-details.html') Product Title
							.product-price
								span $ 124
								span.old-price $ 130
						.product-action-position-1.text-center
							.product-content
								h4
									a(href='product-details.html') Product Title
								.product-price
									span $ 124
									span.old-price $ 130
							.product-action-wrap
								.product-action-cart
									button(title='Add to Cart') Add to cart
								button(data-toggle='modal', data-target='#exampleModal')
									i.icon-zoom
								button(title='Add to Compare')
									i.icon-compare
								button(title='Add to Wishlist')
									i.icon-heart-empty
				.product-wrap-plr-1
					.product-wrap
						.product-img.product-img-zoom.mb-25
							a(href='product-details.html')
								img(src='/product/product-152.jpg', alt='')
						.product-content
							h4
								a(href='product-details.html') Product Title
							.product-price
								span $ 124
								span.old-price $ 130
						.product-action-position-1.text-center
							.product-content
								h4
									a(href='product-details.html') Product Title
								.product-price
									span $ 124
									span.old-price $ 130
							.product-action-wrap
								.product-action-cart
									button(title='Add to Cart') Add to cart
								button(data-toggle='modal', data-target='#exampleModal')
									i.icon-zoom
								button(title='Add to Compare')
									i.icon-compare
								button(title='Add to Wishlist')
									i.icon-heart-empty
	// Modal
	#exampleModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') x
				.modal-body
					.row
						.col-lg-5.col-md-5.col-12.col-sm-6
							.quickview-img
								img(src='/product/product-3.jpg', alt='')
						.col-lg-7.col-md-7.col-12.col-sm-6
							.product-details-content.quickview-content
								h2 Electronic Shop
								.product-ratting-review-wrap
									.product-ratting-digit-wrap
										.product-ratting
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-rating
											i.icon-star-empty
										.product-digit
											span 4.0
									.product-review-order
										span 62 Reviews
										span 242 orders
								p
									| Seamlessly predominate enterprise metrics without performance based process improvements.
								.pro-details-price
									span US $75.72
									span.old-price US $95.72
								.pro-details-color-wrap
									span Color:
									.pro-details-color-content
										ul
											li
												a.white(href='#') Black
											li
												a.azalea(href='#') Blue
											li
												a.dolly(href='#') Green
											li
												a.peach-orange(href='#') Orange
											li
												a.mona-lisa.active(href='#') Pink
											li
												a.cupid(href='#') gray
								.pro-details-size
									span Size:
									.pro-details-size-content
										ul
											li
												a(href='#') XS
											li
												a(href='#') S
											li
												a(href='#') M
											li
												a(href='#') L
											li
												a(href='#') XL
											li
												a(href='#') XXL
								.pro-details-quality
									.cart-plus-minus
										input.cart-plus-minus-box(type='text', name='qtybutton', value='1')
								.product-details-meta
									ul
										li
											span Model:
											a(href='#') Odsy-1000
										li
											span Ship To
											a(href='#') 2834 Laurel Lane
											| , 
											a(href='#') Mentone
											|  , 
											a(href='#') Texas
								.pro-details-action-wrap
									.pro-details-buy-now
										a(href='#') Buy Now
									.pro-details-action
										a(title='Add to Cart', href='#')
											i.icon-basket
										a(title='Add to Wishlist', href='#')
											i.icon-heart
										a.social(title='Social', href='#')
											i.icon-share
	// Modal end
