extend ./layout/layout.pug
block content
	.breadcrumb-area.breadcrumb-mt.bg-gray.breadcrumb-ptb-1
		.container
			.breadcrumb-content
				h2 Cửa hàng bán sách
				p.left
					| Nội dung sách phong phú với nhiều thể loại mới.
		.breadcrumb-img-2
			img(src='/images/about/breadcrumb-3.png', alt='')
	.categorie-area
		.container-fluid.p-0

	.shop-area.pt-160.pb-160
		.container
			.row.flex-row-reverse
				.col-lg-9
					.tab-content
						#shop-categorie-2.tab-pane.active
							.shop-top-bar
								.shop-top-bar-left
									.shop-tab.nav
										a.active(href='#shop-3', data-toggle='tab')
											img.inject-me(src='assets/images/icon-img/shop-grid.svg', alt='')
										a(href='#shop-4', data-toggle='tab')
											img.inject-me(src='assets/images/icon-img/shop-list.svg', alt='')
								.shop-top-bar-right
									
							.tab-content.pt-30
								#shop-3.tab-pane.active
									.row
										each product in datas
											.col-lg-4.col-md-6.col-sm-6.col-12
												.product-wrap.mb-50
													.product-img.product-img-zoom.mb-25
														a(href='/book/'+product._id)
															img(src='/upload/images/'+product.photo, alt='')
													.product-content
														h4
															a(href='/book/'+product._id)=product.name
														.product-price
															if product.discount > 0
																span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
																span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
															else
																span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
													.product-action-position-1.text-center
														.product-content
															h4
																a(href='/book/'+product._id)=product.name
															.product-price
																if product.discount > 0
																	span=new Intl.NumberFormat('vn-IN', { maximumSignificantDigits: 3 }).format(((product.price)-(product.price*product.discount)/100).toFixed()) + ' đ'
																	span.old-price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
																else
																	span.price=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((product.price).toFixed()) + ' đ'
														.product-action-wrap
															.product-action-cart
																if product.amount > 0
																	form(method='post', action='/add/'+product._id)
																		button(title='Add to Cart', style="background-color: #0A1039;color: #fff;padding: 7px 32px 7px;") Thêm vào giỏ
																else
																	span(style="color: red;") Hết hàng
								.pro-pagination-style.text-center.mt-50
									ul
										if pages > 0
											-var i = current > 3 ? current - 2 : 1
											if i!==1
												li
													a.page-link(href='#') ...
											- for(;i<= current +2  && i< pages; i++)
												if i== current
													li
														a.page-link(href='?page='+i)=i
												else 
													li
														a.page-link(href='?page='+i)=i
												if (i==current+2 && i< pages)
													li
														a.page-link(href='#') ...
											if current == pages
												li
													a.page-link(href='#')=pages
											else
												li
													a.page-link(href='?page='+pages)=pages
				.col-lg-3
					.shop-sidebar-style
						.sidebar-widget
							h4.pro-sidebar-title Danh mục sách
							.sidebar-widget-categori.mt-45.mb-70
								ul
									if !danhmuc || danhmuc===null
									else
										each i in danhmuc
											li
												a(href='/search/'+i._id)=i.name
