extend ./layout/layout.pug
block content
	.breadcrumb-area.breadcrumb-mt.bg-gray.breadcrumb-ptb-1
		.container
			.breadcrumb-content
				h2 Cửa hàng bán sách
				p.left
					| Nội dung sách phong phú với nhiều thể loại mới.
		.breadcrumb-img-2
			img(src='/images/about/breadcrumb-3.png', alt='')
	.categorie-area
		.container-fluid.p-0

	.shop-area.pt-160.pb-160
		.container
			.row.flex-row-reverse
				.col-lg-9
					.tab-content
						#shop-categorie-2.tab-pane.active
							.shop-top-bar
								.shop-top-bar-left
									.shop-tab.nav
										a.active(href='#shop-3', data-toggle='tab')
											img.inject-me(src='assets/images/icon-img/shop-grid.svg', alt='')
										a(href='#shop-4', data-toggle='tab')
											img.inject-me(src='assets/images/icon-img/shop-list.svg', alt='')
								.shop-top-bar-right
									
							.tab-content.pt-30
								#shop-3.tab-pane.active
									.row
										each product in datas
											.col-lg-4.col-md-6.col-sm-6.col-12
												.product-wrap.mb-50
													.product-img.product-img-zoom.mb-25
														a(href='')
															img(src='upload/images/'+product.photo, alt='')
													.product-content
														h4
															a(href='')=product.name
														.product-price
															if product.discount > 0
																span=product.price - (product.price)*(product.discount)/100 + 'đ'
																span.old-price=product.price + 'đ'
															else
																span.price=product.price + 'đ'
													.product-action-position-1.text-center
														.product-content
															h4
																a(href='')=product.name
															.product-price
																if product.discount > 0
																	span=product.price - (product.price)*(product.discount)/100 + 'đ'
																	span.old-price=product.price + 'đ'
																else
																	span.price=product.price + 'đ'
														.product-action-wrap
															.product-action-cart
																button(title='Add to Cart') Thêm vào giỏ
															
								
								.pro-pagination-style.text-center.mt-50
									ul
										if pages
											each page in pages
												li
													a(href='?page='+page)=page
				.col-lg-3
					.shop-sidebar-style
						.sidebar-widget
							h4.pro-sidebar-title Danh mục sách
							.sidebar-widget-categori.mt-45.mb-70
								ul
									li
										a(href='#') All
									li
										a(href='#') Clothing
									li
										a(href='#') Shoes
									li
										a(href='#') Watches
									li
										a(href='#') Jewelry
									li
										a(href='#') Accessories
									li
										a(href='#')  Big &amp; Tall 
									li
										a(href='#') Contemporary
						.sidebar-widget
							h4.pro-sidebar-title Danh mục tác giả
							.sidebar-widget-categori.mt-45.mb-70
								ul
									li
										a(href='#') All
									li
										a(href='#') Clothing
									li
										a(href='#') Shoes
									li
										a(href='#') Watches
									li
										a(href='#') Jewelry
									li
										a(href='#') Accessories
									li
										a(href='#')  Big &amp; Tall 
									li
										a(href='#') Contemporary