extend ../layout/layout.pug
block content
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row.m-t-30
          .col-md-12
            .table-responsive.m-b-40
              table.table.table-bordered(style="background-color: white;")
                thead
                  tr
                    th Tên Người nhận
                    th Số điện thoại
                    th Địa chỉ
                    th Ngày tạo
                    th Tổng tiền
                    th Trạng thái
                    th Hành động
                tbody
                  each i in datas
                    tr
                      td=i.name
                      td=i.phone
                      td=i.address
                      td=i.createdAt.toDateString()
                      td=i.totalPrice
                      if (i.status == 0)
                        td.process  Chờ xác nhận chuyển hàng
                      else if(i.status == 1)
                        td.process Hàng đang được giao
                      else 
                        td.process Đơn hàng đã hoàn tất
                      if (i.status == 0) 
                        td 
                          form(action='/admin/confirm/'+i._id, method='post')
                            button.btn.btn-primary.btn-sm(type='submit', value='') Xác nhận
                      else if (i.status == 2)
                        td
                          form(action='/admin/delete/'+i._id +'?_method=DELETE', method='post')
                            button.btn.btn-danger.btn-sm(type='submit', value='') Xóa
                      else
                        td
            // END DATA TABLE
        nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          if pages > 0
            -var i = current > 3 ? current - 2 : 1
            if i!==1
              li.page-item
                a.page-link(href='#') ...
            - for(;i<= current +2  && i< pages; i++)
              if i== current
                li.page-item
                  a.page-link(href='?page='+i)=i
              else 
                li.page-item
                  a.page-link(href='?page='+i)=i
              if (i==current+2 && i< pages)
                li.page-item
                  a.page-link(href='#') ...
            if current == pages
              li.page-item
                a.page-link(href='#')=pages
            else
              li.page-item
                a.page-link(href='?page='+pages)=pages
  .row
    .col-md-12
      .copyright
        p
          | Copyright &copy; 2018 Colorlib. All rights reserved. Template by 
          a(href='https://colorlib.com') Colorlib
          | .
