extend ../layout/layout.pug
block content
	.main-content
		.section__content.section__content--p30
			.container-fluid
				.row.m-t-30
					.col-md-12
						.table-responsive.m-b-40
							form(action="./search", method="post")
								h4(style="color: #666") Tìm kiếm theo ngày
								span 
									input(type="date", style="color: #666; padding: 5px; border: 1px solid #666; margin: 10px;", name="a")
								span 
									| đến ngày
								span 
									input(type="date", style="color: #666; padding: 5px; border: 1px solid #666; margin: 10px;", name="b")
								span
									button(type="submit", style="background-color: white; width: 100px; line-height: 40px; border: 1px solid #666;") Tìm
							table.table.table-bordered(style="background-color: white;")
								thead
									tr
										th Tên Người nhận
										th Số điện thoại
										th Địa chỉ
										th Ngày tạo
										th Tổng tiền
										th Trạng thái
								tbody
									each i in datas
										tr
											td=i.name
											td=i.phone
											td=i.address
											td=i.date
											td=i.totalPrice
											if (i.status == 0)
												td.process  Chờ xác nhận chuyển hàng
											else if(i.status == 1)
												td.process Hàng đang được giao
											else 
												td.process Đơn hàng đã hoàn tất

							nav(aria-label='Page navigation example')
							ul.pagination.justify-content-end
								if pages > 0
									-var i = current > 3 ? current - 2 : 1
									if i!==1
										li.page-item
											a.page-link(href='#') ...
									- for(;i<= current +2  && i< pages; i++)
										if i== current
											li.page-item
												a.page-link(href='?page='+i)=i
										else 
											li.page-item
												a.page-link(href='?page='+i)=i
										if (i==current+2 && i< pages)
											li.page-item
												a.page-link(href='#') ...
									if current == pages
										li.page-item
											a.page-link(href='#')=pages
									else
										li.page-item
											a.page-link(href='?page='+pages)=pages
