header.header-area.section-padding-1.transparent-bar
	.header-large-device
		.header-bottom.sticky-bar
			.container-fluid
				.header-bottom-flex
					.logo-menu-wrap
						.logo
							a(href='/')
								img(src='/upload/images/logo-2.png', alt='logo')
						.main-menu.menu-lh-1.main-menu-padding-1.menu-mrg-1
							nav
								ul
									li
										a(href='/') Trang chủ
									li
										a(href='/shop') Danh mục
											ul.sub-menu-width
												if !danhmuc || danhmuc===null
												else 
													each i in danhmuc
														li
															a(href='/search/'+i._id)=i.name
									li
										a(href='#') Blog
									li
										a(href='/contact') Liên Hệ
					.header-action-wrap.header-action-flex.header-action-width.header-action-mrg-1
						.search-style-1
							form(action='/shop', method='GET')
								.form-search-1
									input.input-text(name='search', value='', placeholder='Tìm kiếm', type='search')
									button
										i.icofont-search-1
						.same-style
							a(href='/account')
								i.icofont-user-alt-3
						.same-style.header-cart
							a.cart-active(href='#')
								i.icofont-shopping-cart
							if (giohang1)
								span=giohang1.products.length
							span 

.sidebar-cart-active
	.sidebar-cart-all
		a.cart-close(href='#')
			i.icofont-close-line
		.cart-content
			h3 Giỏ hàng
			ul
				if giohang
					each i in giohang
						li.single-product-cart
							.cart-img
								a(href='#')
								img(src='/upload/images/'+i.photo, alt='', style="width:50px;")
							.cart-title
								h4
									a(href='#')=i.name
								span=i.quantity + " x "
								span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((i.price).toFixed()) + ' đ'
							.cart-delete
								a(href='/remove-product-cart/' + i._id,onclick="return confirm('Bạn có muốn xóa không ?')") &times;
				else
			.cart-total
				h4
				| Tổng tiền: 
				if giohang1
					span=new Intl.NumberFormat('vn-IN', { maximumSignificantDig: 3}).format((giohang1.totalPrice).toFixed()) + ' đ'
				else
					span 
			.cart-checkout-btn
				a.btn-hover.cart-btn-style(href='/cart') Chuyển đến giỏ hàng
				a.no-mrg.btn-hover.cart-btn-style(href='/checkout') Thanh toán
